<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<title>Save Recipe</title>
</head>

<body>

	<div class="container">
	
		<h3>Recipes Directory</h3>
		<hr>
		
		<p class="h4 mb-4">Save Recipe</p>
	
		<form action="#" th:action="@{/recipes/save}"
						 th:object="${recipe}" method="POST">
		
			<input type="text" th:field="*{title}"
					class="form-control mb-4 col-4" class="validate" required pattern="[a-zA-Z]{2,120}" placeholder="Title">

			<input type="text" th:field="*{shortDesription}"
					class="form-control mb-4 col-4" placeholder="Category">

			<input type="text" th:field="*{shortDescription}"
					class="form-control mb-4 col-4"  class="validate" required pattern="[a-zA-Z]{2,250}" placeholder="shortDesription">
					
					<input type="text" th:field="*{cooking time}"
					class="form-control mb-4 col-4"  class="validate" required pattern="[\d]{1,3}"  placeholder="cooking time">
					
					<input type="text" th:field="*{usedProducts}"
					class="form-control mb-4 col-4" class="validate" required 
          	pattern="[a-zA-Z]{20,500}" 
					 placeholder="usedProducts">
					<input type="text" th:field="*{picture}"
					class="form-control mb-4 col-4" class="validate" required placeholder="picture">
					
				
			<button type="submit" class="btn btn-info col-2">Save</button>
						
		</form>
	
		<hr>
		<a th:href="@{/recipe/list}">Back to Recipe List</a>
		
	</div>
</body>

</html>
